*.box
*.tar.gz
*.exe
*.msi
*.evtx
*.dpx

.DS_Store
packer_cache/
chocolatey/
output-vmware-windows-iso/
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
